@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Cookie&family=Gwendolyn:wght@700&family=Satisfy&display=swap');
body{
    margin: 0;
    background-color: aliceblue;
}

.cabecalho{
    background-image: url("imagens/header.png");
    background-position-x: center; 
    background-position-y: center; 
    height: 400px;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: auto;
    }

.menu-de-navegacao{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    font-family:'Satisfy', cursive;
    background-color: #FFE5D9;
        
}

.logo{
    margin:0;
    padding: 10px;
    border-radius: 30px;
    margin-left: 1195px;
    height: 390px;
    width: 350px;
        
}

.foto-menu{
    width: 1200px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    
}

.item-menu{
    color: black;
    font-size: 28px;
    font-weight: 500;
    
}
    
